.root {
    position: relative;
    margin: 30px auto;
    width: 90%;

    .orderInfo {
        border-radius: 10px;
        background: rgba(0,0,0,.1);
        padding: 25px;
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin: 0 10px;
            color: grey;
            font-weight: 700;
            text-transform: uppercase;

            span {
                font-weight: 400;
                display: block;
                text-transform: none;
            }
        }

        .orderNumber {
            margin: 0 10px;
            color: grey;

            a {
                display: block;
                color: rgb(26,40,96);
                font-weight: 700;
                text-decoration: none;
                padding-right: 5px;
                
                + a {
                    padding-left: 5px;
                    border-left: 2px solid rgba(0,0,0,.1);
                }
            }
        }
    }

    .textBanner {
        margin-bottom: 35px;

        p {  
            font-weight: 700;
            color: rgb(26,40,96);
            text-transform: uppercase;

            span {
                font-weight: 400;
                display: block;
                color: grey;
                text-transform: none;
            }
        }
    }

    .row {

        .leftCol {

            .productsRow {

                .productsCol {
                    display: flex;
                    padding: 25px;
                    border: 2px solid rgba(0,0,0,.1);
                    border-radius: 10px;
                    margin: 10px 0;
                    align-items: center;

                    img {
                        width: 150px;
                        height: 150px;
                        border-radius: 10px;
                        object-fit: cover;
                        margin-right: 20px;
                    }

                    h3 {
                        color: rgb(26,40,96);
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }

                    p {
                        font-weight: 400;
                        color: grey;
                    }
                }
            }
        }

        .rightCol {

            a {
                display: block;
                color: grey;
                border: none;
                border-radius: 5px;
                padding: 3px 10px;
                font-size: 16px;
                text-decoration: none;
                background: rgba(0,0,0,.1);
                margin: 10px 0;
                text-align: center;
                font-weight: 500;

                &:hover {
                    transition: .8s;
                    background: rgb(26,40,96);;
                    color: white;
                }
            }
        }
    }
}