.dropdownMenuContainer{
    position: absolute;
    z-index: 99;
    width: 99.4vw;
    height: 32vh;
    top: 2.2%;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    cursor: pointer;
    
}

.firstMenu{
    width: 8%;
    height: 100%;
    margin-left: 0%;
    background: rgba( 26, 40, 96, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.secMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0;
    left: 110%;
    height: 100%;
}

.thirdMenu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    height: 100%;
    left: 150%;
}

.itemContainer{
    width: 100px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    margin: 5px 2%;
    z-index: 100;
    &:hover{
        border: solid 2px rgb(26, 40, 96);
        background-color: rgb(26, 40, 96);
        color: white;
    }
}